<div class="container">
    <h1>Eat-Da-Burger!</h1>
    <div id="flexContainer">
        <div id="burgerContainer">
            <div class="burger">
                <img class="burger-image" src="assets/images/burger.png">
                <div class="burger-text">
                    <div class="burger-name">Burger Name</div>
                    <div class="eat-button">EAT</div>
                </div>
            </div>
        </div>
        <div id="eatenContainer">
            <img id="eatingMan" src="assets/images/eatingman.png">
            <div id="eaten">
                <div class="burger-eaten">Burger Name</div>
            </div>
        </div>
    </div>
</div>
<div id="newBurgerContainer">
    <form id="newBurger">
        <h3>Add New Burger:</h3>
        <input id="burgerName"><input type="submit" value="Add">
    </form>
</div>