<a href="https://github.com/cameronlattz/burger" id="githubLink">GitHub</a>
<h1 class="font-effect-shadow-multiple">Eat-Da-Burger!</h1>
<div class="container">
    <div id="windowContainer">
        <div id="burgerContainer">
            {{#each notEaten}}
            <div class="burger burger-not-eaten" data-id="{{{this.id}}}">
                <img class="burger-image" src="assets/images/burger.png">
                <div class="burger-text">
                    <div class="burger-name">{{{this.burger_name}}}</div>
                    <div class="eat-button">EAT</div>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="eatenContainer">
            <img id="eatingMan" src="assets/images/eatingman.png">
            <img id="eatingBurger" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
            <div id="eaten">
                {{#each eaten}}
                <div class="burger burger-eaten" data-id="{{{this.id}}}">
                    <img class="burger-image" src="assets/images/burger.png">
                    <div class="burger-text">
                        <div class="burger-name">{{{this.burger_name}}}</div>
                        <div class="eat-button">EAT</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div id="newBurgerContainer">
    <form id="burgerForm">
        <h2>Add New Burger:</h2>
        <input id="burgerName"><input type="submit" value="Add">
    </form>
</div>