#flexContainer {
    position: relative;
}
#flexContainer > div {
    flex: 1;
}
.container {
    margin: 0 10%;
    border: 3px solid #333333;
    background-color: #f6f6f6;
}
#eatenContainer {
    position: relative;
    text-align: right;
    width: 557px;
    margin-left: auto;
    overflow: hidden;
}
#eaten {
    color: #222222;
    font-size: 1.25em;
}
.burger {
    position: relative;
    height: 111px;
    width: 153px;
    color: #f6f6f6;
    margin: 0 auto;
}
#burgerContainer .burger:hover {
    color: #333333;
    cursor: pointer;
}
.burger-image {
    position: absolute;
    top: 0;
    left: 0;
}
.burger-text {
    padding-top: 30px;
    font-size: 1.25em;
    position: relative;
    text-shadow: 1px 1px #333333;
    text-align: center;
}
.eat-button {
    font-size: 1.5em;
}
#burgerContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: auto;
    height: 100%;
}
#eaten {
    padding: 10px 3%;
    margin-top: -45px;
    background-color: #40c4f8;
    width: 360px;
    margin-left: auto;
}
body {
    background-color: #f8a940;
    text-align: center;
    color: #222222;
    font-family: "Rancho"
}
h1, h2 {
    margin: 0;
}
#eatingBurger {
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 1;
    width: 557px;
    height: 420px;
    background-color: #f6f6f6;
}
#eatingMan {
    position: relative;
    z-index: 2;
    right: -25px;
}
#eaten .eat-button {
    display: none;
}
h1 {
    font-size: 4em;
}
input[type="submit"] {
	background-color:#885f38;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #333333;
	display:inline-block;
	cursor:pointer;
	padding: 3px 25px;
    text-decoration:none;
    color: #000000;
    text-shadow:0px 1px 0px #555555;
    font-family: "Rancho";
    font-size: 1.5em;
}
input[type="submit"]:hover {
	background-color:#5e3d1e;
}
input[type="submit"]:active {
	position:relative;
	top:1px;
}
input {
	outline: none;
	padding: 7px;
	border: none;
    border-bottom: 1px solid #333333;
    color: #333333;
	background: transparent;
	margin-bottom: 10px;
    height: 45px;
    font-size: 2em;
    font-family: "Rancho"
}